<header>
  <a href="#home" class="logo"><i class="fas fa-utensils"></i>Sweet Treats Cupcakery</a>

  <div id="menu-bar" class="fas fa-bars"></div>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#gallery">menu</a>
    <a href="#order">order</a>
    <a href="#admin">vendors</a>
  </nav>
</header>
