<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin.css" type="text/css"/>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/twilio.js"></script>

  </head>
    <title>Admin</title>
    <body>
      <header>
        <a href="/" class="logo"><i class="fas fa-utensils"></i>Sweet Treats Cupcakery</a>

      <div id="menu-bar" class="fas fa-bars"></div>

      <nav class="navbar">
        <a href="/">home</a>
        <a href="/#menu">menu</a>
        <a href="/#order">order</a>
        <a href="/admin">admin</a>
      </nav>
    </header>
    <!--Admin table-->
    <section>
    <!--Admin table-->

    <div id="admin" class="divTable blueTable">
      <div class="divTableHeading">
        <div class="divTableRow">
          <div class="divTableHead">ORDER ID</div>
          <div class="divTableHead">ORDER CONTENTS</div>
          <div class="divTableHead">CLIENT NUMBER</div>
          <div class="divTableHead">PRICE</div>
        </div>
      </div>
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell">orders.id</div>
          <div class="divTableCell">2 x pinata, 3 X peanut butter and jelly</div>
          <div class="divTableCell">+5193516748</div>
          <div class="divTableCell">$25.00</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">cell1_2</div>
          <div class="divTableCell">cell2_2</div>
          <div class="divTableCell">cell3_2</div>
          <div class="divTableCell">cell4_2</div>
        </div>
        <div class="divTableRow">
          <div class="divTableCell">cell1_3</div>
          <div class="divTableCell">cell2_3</div>
          <div class="divTableCell">cell3_3</div>
          <div class="divTableCell">cell4_3</div>
        </div>
          <div class="divTableRow">
            <div class="divTableCell">cell1_4</div>
            <div class="divTableCell">cell2_4</div>
            <div class="divTableCell">cell3_4</div>
            <div class="divTableCell">cell4_4</div>
        </div>
      </div>
    </div>
    <button id="confirm" class="btn btn-primary">Confirm Order</button><button id ="complete" class="btn btn-primary">Order Complete</button>
