<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sweet Treats Cupcakery </title>

  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>

<!-- header section starts  -->

<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>Sweet Treats Cupcakery</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#gallery">menu</a>
        <a href="#order">order</a>
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Cupcakes made fresh daily</h3>
        <p>Fun and whimsical cupcakes to brighten anyones day!</p>
        <a href="#" class="btn">order now</a>
    </div>

    <div class="image">
        <img src="./images/Roses-are-red-violets-are-blue-mini-cupcakes-scaled.jpeg" alt="">
    </div>

</section>

<!-- home section ends -->


<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading"> our food <span> gallery </span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="./images/Peanut-Butter-and-Jelly-Cupcakes-4.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/chocolate-covered-strawberry-cupcakes-3.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/0220cherrycupcakes511B5226post-706x1024.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/Maple-Carrot-Cupcakes_EXPS_HPLBZ18_12307_C05_17_1b-2.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/Vanilla Sprinkle.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/pinata-cupcakes-1.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/Smores-Cupcakes_730px-4.jpg.webp" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/mickey-cupcakes-resize-5.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>
        <div class="box">
            <img src="./images/Dancing-Queen-Cupcakes.jpeg" alt="">
            <div class="content">
                <h3>tasty food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                <a href="#" class="btn">order now</a>
            </div>
        </div>

    </div>

</section>

<!-- gallery section ends -->



<!-- order section starts  -->

<section class="order" id="order">

    <h1 class="heading"> <span>order</span> now </h1>

    <div class="row">

        <div class="image">
            <img src="./images/Image 2021-11-29 at 3.11 PM.jpg" alt="">
        </div>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>

            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="food name">
            </div>

            <textarea placeholder="address" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="order now" class="btn">

        </form>

    </div>

</section>

<!-- order section ends -->


<!-- scroll top button  -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>


</body>
</html>
