<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sweet Treats Cupcakery</title>

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel="stylesheet" href="/styles/main.css" type="text/css" />
        <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>

    <body>
        <!-- header section starts  -->

        <header>
            <a href="#home" class="logo"><i class="fas fa-utensils"></i>Sweet Treats Cupcakery</a>

            <div id="menu-bar" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="#home">home</a>
                <a href="#gallery">menu</a>
                <a href="#order">order</a>
            </nav>
        </header>

        <!-- header section ends -->

        <!-- home section starts  -->

        <section class="home" id="home">
            <div class="content">
                <h3>Cupcakes made fresh daily</h3>
                <p>Fun and whimsical cupcakes to brighten anyones day!</p>
                <a href="#gallery" class="btn">order now</a>
            </div>

            <div class="image">
                <img src="./images/Roses-are-red-violets-are-blue-mini-cupcakes-scaled.jpeg" alt="" />
            </div>
        </section>

        <!-- home section ends -->

        <!-- gallery section starts  -->

        <section class="gallery" id="gallery">
            <h1 class="heading">our<span> Menu </span></h1>

            <div class="box-container">
                <div class="box">
                    <img src="./images/Peanut-Butter-and-Jelly-Cupcakes-4.jpeg" alt="" />
                    <div class="content">
                        <h3>Nutella-PB</h3>
                        <p>A delicious dessert made with a Nutella icing and peanut butter filling.</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/chocolate-covered-strawberry-cupcakes-3.jpeg" alt="" />
                    <div class="content">
                        <h3>Chocolate Strawberry</h3>
                        <p>A chocolate cupcake topped with a strawberry icing and a freshly sliced fruit.</p>
                        <a class="btn">add to cart</a>

                    </div>
                </div>
                <div class="box">
                    <img src="./images/0220cherrycupcakes511B5226post-706x1024.jpeg" alt="" />
                    <div class="content">
                        <h3>Raspberry Pie</h3>
                        <p>A lemon flavoured batter stuffed with sweet rasberry filling and a vanilla icing.</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/Maple-Carrot-Cupcakes_EXPS_HPLBZ18_12307_C05_17_1b-2.jpeg" alt="" />
                    <div class="content">
                        <h3>Sweet Raisin Bran</h3>
                        <p>A healthier option made with a raisin bran batter and a naturally sweetened icing.</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/Vanilla Sprinkle.jpeg" alt="" />
                    <div class="content">
                        <h3>Fiesta</h3>
                        <p>A vanilla cupcake topped with swirled icing and rainbow sprinkles.</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/pinata-cupcakes-1.jpeg" alt="" />
                    <div class="content">
                        <h3>Pinata</h3>
                        <p>Similar to fiesta, except stuffed with rainbow pop rock candy as a bonus!</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/Smores-Cupcakes_730px-4.jpg.webp" alt="" />
                    <div class="content">
                        <h3>Triple Chocolate</h3>
                        <p>A choclate batter stuffed with melted chocolate and white chocolate icing.</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/mickey-cupcakes-resize-5.jpeg" alt="" />
                    <div class="content">
                        <h3>Mickey Cupcakes</h3>
                        <p>A dark chocolate cupcake with vanilla icing and Oreo ears.</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/Dancing-Queen-Cupcakes.jpeg" alt="" />
                    <div class="content">
                        <h3>Rainbow Cupcakes</h3>
                        <p>We flavoured this cupcake with Lucky Charms and coloured it with melted rainbow sprinkles!</p>
                        <a class="btn">add to cart</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- gallery section ends -->

        <!-- order section starts  -->
        <section class="order" id="order">

          <h1 class="heading"> <span>order</span> now </h1>

          <div class="row">

              <div class="image">
                  <img src="./images/Image 2021-11-29 at 3.11 PM.jpg" alt="">
              </div>

              <form action="">

                  <div class="inputBox">
                      <input type="text" placeholder="name">
                  </div>
                  <div class="inputBox">
                      <input type="phone number" placeholder="number">
                  </div>
                <div class="CartContainer">
              <div class="Header">
              </div>
              <div class="Cart-Items">
                <div class="image-box">
                  <img src="./images/Maple-Carrot-Cupcakes_EXPS_HPLBZ18_12307_C05_17_1b-2.jpeg" height="120px" width="120px"/>
                </div>
                <div class="about">
                  <h1 class="title">Maple Carrot</h1>
                </div>
                <div class="counter">
                  <div class="btn">+</div>
                  <div class="count">2</div>
                  <div class="btn">-</div>
                </div>
                <div class="prices">
                  <div class="amount">$2.99</div>
                  <div class="save"><u>Save for later</u></div>
                  <div class="remove"><u>Remove</u></div>
                </div>
            </div>

            <div class="Cart-Items pad">
                <div class="image-box">
                  <img src="./images/pinata-cupcakes-1.jpeg" height="120px" width="120px"/>
                </div>
                <div class="about">
                  <h1 class="title">Pinata</h1>
                </div>
                <div class="counter">
                  <div class="btn">+</div>
                  <div class="count">1</div>
                  <div class="btn">-</div>
                </div>
                <div class="prices">
                  <div class="amount">$3.19</div>
                  <div class="save"><u>Save for later</u></div>
                  <div class="remove"><u>Remove</u></div>
                </div>
            </div>
          <hr>
          <div class="checkout">
          <div class="total">
            <div>
              <div class="Subtotal">Sub-Total</div>
              <div class="items">2 items</div>
            </div>
            <div class="total-amount">$6.18</div>
          </div>
          <button class="btn">Checkout</button></div>
              </form>


      </section>

        <!-- order section ends -->

        <!-- scroll top button  -->
        <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
    </body>
</html>
