section{
  padding: 30%;
}

div.blueTable {
  border: 1px solid #6E72A4;
  background-color: #EEEEEE;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin-left: 10%;
  margin-bottom: 2%;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.blueTable .divTableRow:nth-child(even) {
  background: #FFE8FD;
}
.divTable.blueTable .divTableHeading {
  background: #FFE8FD;
  background: -moz-linear-gradient(top, #ffeefd 0%, #ffeafd 66%, #FFE8FD 100%);
  background: -webkit-linear-gradient(top, #ffeefd 0%, #ffeafd 66%, #FFE8FD 100%);
  background: linear-gradient(to bottom, #ffeefd 0%, #ffeafd 66%, #FFE8FD 100%);
  border-bottom: 2px solid #444444;
}
.divTable.blueTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #515151;
  border-left: 2px solid #FFE8FD;
}
.divTable.blueTable .divTableHeading .divTableHead:first-child {
  border-left: none;
}

.blueTable .tableFootStyle {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #FFE8FD;
  background: -moz-linear-gradient(top, #ffeefd 0%, #ffeafd 66%, #FFE8FD 100%);
  background: -webkit-linear-gradient(top, #ffeefd 0%, #ffeafd 66%, #FFE8FD 100%);
  background: linear-gradient(to bottom, #ffeefd 0%, #ffeafd 66%, #FFE8FD 100%);
  border-top: 2px solid #444444;
}


.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

#confirm.btn {
  margin-left: 35%
}

#complete.btn {
  margin-left: 5%
}

